* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1b2046;
  
}

.header {
  border-bottom:solid 1px rgba(red, green, blue, alpha) ;
   width: 100%;
  height: 65px;
  background-color: #191c32;
  color:#fff;
  
}

.brand {
  margin-top: -5px;
}

.brand span{ 
  color:aqua;
  

}

#navbar {
  display:flex;
  justify-content: space-between;
  padding: 1em;
}

.nav-list {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.nav-list li {
list-style: none;
}

.nav-list a {
  color:#fff;
  text-decoration: none;
  padding:10px 20px;
}

.nav-list .active {
  color: aqua;
}

.nav-list a:hover {
  background-color: aqua;
  transition: ease-in .4s;
  color:#191c32;
}

#welcome-section{
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  align-items: center;
  margin-top: 40px;
  
}
.main{
  width: 100%;
}

#welcome-section span{
  color: aqua;
  
}

h1{
  color:#fff;
}
p{
  color: #fff;
}



h2{
  color:#fff;
  text-align: center;
}



.grid-item{
  display:flex;
  align-items:center;
  justify-content: center;

  background-color: #191c32;
  border-radius: 4px;
  transition: 0.3s ease-in-out;

  border:solid 1px rgba(255 255 255, 0.3);
  box-shadow: 0 0 20px 0 rgba(204, 52, 52, 0.3) ;
  position: relative;
  
  

}
.grid-item a{
  display: block;
  width: 100%;
  height: 100%;
}

.grid-item:hover{
  filter: opacity(0.9);
  transform: scale(1.05);
  
}

.grid-container{
  
  
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows:500px 500px;
  gap: 20px; 
  padding:20px;
  
  
  
}

.grid-item img{
  border: 1px solid rgb(000,000,000);
  width:100%;
  height: 90%;
  

  
  

}
.title-img{
  position:absolute;
  bottom: 0;
  color:#FFF;
  text-transform: uppercase;
  grid-area: foo;

}
 



@media (max-width:480px){
  .grid-container{
  
      grid-template-columns: 100vh;
      
}
}

#profile-link {
  background-color:#1b2046;
  
}
.contact-section-header{
  width: 100%;
  height: auto;

}
.contact-section-header h2{
  
  text-align: center;
}
.contact-section-header p{
  text-align: center;
}




 